
.vs/MoxieEngine/v16/Browse.VC.db
.vs/MoxieEngine/v16/.suo
*.ilk
*.obj
*.idb
*.pdb
*.opendb
*.suo
*.db
*.db-shm
*.db-wal
*.bin
/.vs/MoxieEngine/v17/ipch
/.vs/MoxieEngine/config

*.tlog

*.pch

*.lastbuildstate

x64/Debug/Moxie.exe

*.vsidx

*.recipe
